h1{color: #000000;
	text-align: center;
	font-size: 40px;
}
h2{color: #000000;
	text-align: center;
	font-size: 20px;
}
h3{color: #000000;
	text-align: center;
	font-size: 20px;
}
h4{color: #000000;
	text-align: center;
	font-size: 20px;
}
h5{color: #000000;
	text-align: center;
	font-size: 20px
}
h6{color: #000000;
	text-align: center;
	font-size: 20px
}
body{
	background-color: #e4ecff;
}
p{
	color: #000000;
	text-align: center;
	border: 8px solid #bfd1ff;	
	background-color: #bfd1ff;
}
table{
	border-width: 4px;
	border-color: #bfd1ff;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
tr{
	border-width: 4px;
	border-color: #bfd1ff;
}
.navBar li a{
	float: right;
	display: block;
	width: 60px;
	background-color: #bfd1ff;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
	color: #000000;
}
.navBar li a:hover{
	background-color: #38b6ff;
}
.navBar{
	list-style-type: none;
	overflow: hidden;
	background-color: #bfd1ff;
}
img{
		 
	border: 10px solid #bfd1ff;	 
}
td{color: #000000;
	text-align: center;
	font-size: 30px	
}
li{	 
	background-color: #bfd1ff;
	text-align: left;
}


